<?xml version="1.0" encoding="utf-8" ?>
<nlog>
	<variable name="folder" value="${basedir}\Logs"/>
	<variable name="verbose" value="${longdate} | ${threadid:padding=-3} | ${level:uppercase=true:padding=-5} | ${logger:padding=-60} | ${message}"/>
	<targets>
		<target name="file-all"   type="File"           layout="${verbose}" fileName="${folder}\${date:format=yyyyMMdd}.log" />
		<target name="file"       type="File"           layout="${verbose}" fileName="${folder}\${level}_${date:format=yyyyMMdd}.log" />
		<target name="console"    type="ColoredConsole" layout="${message}" />
	</targets>
	<rules>
		<logger name="Graph.Tools.*" writeTo="console" />
		<logger name="Graph.Services.*" writeTo="console" />
		<logger name="*" minlevel="Debug" writeTo="file-all" />
		<logger name="*" minlevel="Info" writeTo="file" />
	</rules>
</nlog>