@section scripts {
	
	@*inspired by http://jsfiddle.net/chrisJamesC/HgHqy/*@

    <script src="http://mbostock.github.com/d3/d3.js?1.29.1"></script>
    <script src="http://mbostock.github.com/d3/d3.geom.js?1.29.1"></script>
	<script src="http://mbostock.github.com/d3/d3.layout.js?1.29.1"></script>
	<script src="/Scripts/graph.js"></script>
}
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
	            <h1>Find the shortest path.</h1>
	            <div>
					<h2>Click on any two nodes and the system will find the shortest path for you.</h2>
	            </div>
            </hgroup>
        </div>
    </section>
	<section class="content-wrapper main-content clear-fix"></section>

	<div id="graph" align="center"></div>

</div>
